.idea/
.gradle/
build/
out/
target/
*.iml

# Eclipse
.classpath
.project
.settings/
bin/

read-env-variable-system-property/*
compile-run-with-classpath/*
system-out-system-err/*
!read-env-variable-system-property/solution.sh
!compile-run-with-classpath/solution.sh
!system-out-system-err/solution.sh